<template>
  <div class="mt-5">
    <div class="widget-header mb-4 d-flex align-items-center justify-content-between">
      <h4 class="text-if font-weight-bold m-0">{{$t('in_cinema')}}</h4>
    </div>
    <template v-if="!nowPlaying.length">
      <div class="card-loader card-loader--tabs"></div>
      <div class="card-loader card-loader--tabs"></div>
      <div class="card-loader card-loader--tabs"></div>
    </template>
    <transition-group enter-active-class="animated fadeIn fast" tag="div">
      <div v-for="movie in nowPlaying" :key="movie.id">
        <div class="mt-4">
          <nuxt-link :to="{name: 'movie', query: { id:movie.id } }" class="d-block text-reset text-decoration-none">
            <div class="d-flex pr-widget">
              <div class="w-25">
                <img v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path" class="img-fluid" alt="movie-poster">
              </div>
              <div class="pr-layer-widget p-2 w-75 d-flex justify-content-between">
                <div>
                  <p class="font-weight-bold m-0">{{movie.title}}</p>
                  <small class="text-black-50 d-block">
                    <span>{{$t('year')}}:</span>
                    <strong>{{$moment(movie.release_date).format('Y')}}</strong>
                  </small>
                  <small class="text-black-50 d-block">
                    <span>{{$t('vote_count')}}:</span>
                    <strong>{{movie.vote_count}}</strong>
                  </small>
                </div>
                <div class="d-flex align-items-end">
                  <span class="rounded-circle circle-average btn-if text-white font-weight-bold">{{movie.vote_average}}</span>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: "now-playing",
    computed: {
      ...mapGetters({
        nowPlaying: 'now-playing/get',
      })
    },
    created() {
      this.$root.$on('changeLang', data => {
        this.$store.dispatch('now-playing/getNowPlaying')
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/products/product";
</style>
