<template>
  <div>
    <div class="widget-header mb-4 d-flex align-items-center justify-content-between">
      <h4 class="text-if font-weight-bold m-0">{{$t('top_movies')}}</h4>
      <button class="btn btn-link p-0" v-tooltip="$t('update_recom')">
        <i @click="updateRecommendations()" class="fa fa-refresh text-if" aria-hidden="true"></i>
      </button>
    </div>
    <template v-if="!recommendations.length">
      <div class="card-loader card-loader--tabs"></div>
      <div class="card-loader card-loader--tabs"></div>
      <div class="card-loader card-loader--tabs"></div>
    </template>

    <transition-group enter-active-class="animated fadeIn fast" tag="div">
      <div v-for="recommendation in recommendations" :key="recommendation.id">
        <div class="mt-4">
          <nuxt-link :to="{name: 'movie', query: { id:recommendation.id } }"
                     class="d-block text-reset text-decoration-none" href="#">
            <div class="d-flex pr-widget">
              <div class="w-25">
                <img v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + recommendation.poster_path"
                     class="img-fluid" alt="movie-poster">
              </div>
              <div class="pr-layer-widget p-2 w-75 d-flex justify-content-between">
                <div>
                  <p class="font-weight-bold m-0">{{recommendation.title}}</p>
                  <small class="text-black-50 d-block">
                    <span>{{$t('year')}}:</span>
                    <strong>{{$moment(recommendation.release_date).format('Y')}}</strong>
                  </small>
                  <small class="text-black-50 d-block">
                    <span>{{$t('vote_count')}}:</span>
                    <strong>{{recommendation.vote_count}}</strong>
                  </small>
                </div>
                <div class="d-flex align-items-end">
                  <span class="rounded-circle circle-average btn-if text-white font-weight-bold">{{recommendation.vote_average}}</span>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "recommendation",
    data() {
      return {
        page: Math.floor(Math.random() * Math.floor(346 - 0 + 1)) + 0,
        randomPage: null
      }
    },
    computed: {
      ...mapGetters({
        recommendations: 'recommendation/get',
      }),
    },
    methods: {
      updateRecommendations() {
        this.randomPage = Math.floor(Math.random() * Math.floor(346 - 0 + 1)) + 0
        this.$store.dispatch('recommendation/getRecommendation', this.randomPage)
      }
    },
    created() {
      this.$root.$on('changeLang', data => {
        this.$store.dispatch('recommendation/getRecommendation', this.randomPage ? this.randomPage : this.page)
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/products/product";
</style>
