button{
  outline: none !important;
}

.btn-if{
  background-color: $if-color !important;
  color: white !important;
  &:focus {
    box-shadow: $shadow-focus;
  }
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active{
    background-color: $if-color-active !important;
  }
}

.custom-control-input:checked {
  & ~ {
    .custom-control-label::before {
      background-color: $if-color !important;
      border-color: $if-color;
    }
  }
}
