.radius-5 {
  border-radius: 20px;
}

.list-style-none{
  list-style: none;
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.d-grid {
  display: grid;
}

.small-scrollbar{
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c2c1;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9;
  }
}

.mx-height-600 {
  max-height: 600px;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.pr-layer-widget {
  background-color: $lactic-bg;
}

[data-theme="dark"] {
  background-color: $dark-bg !important;
  .bg-dark {
    background-color: $dark-bg !important;
  }
  color: #eee;
  * {
    color: #eee !important;
  }
  .pr-layer-widget {
    background-color: $lactic-dark-bg !important;
  }
  .pagination-if {
    .page-item:not(.active) {
      .page-link {
        background-color: transparent;
        &:hover {
          background-color: $lactic-dark-bg;
        }
      }
    }
  }
}
