.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-20 {
  font-size: 20px;
}
.font-08rem {
  font-size: 0.8rem;
}
.text-if {
  color: $if-color;
}
.line-height-13{
  line-height: 13px;
}
