<template>
  <div class="d-flex flex-wrap">
    <div class="form-group w-100 filters-select mr-3">
      <select class="form-control custom-select" v-model="byGener" @change="filterMovies">
        <option :value="null" disabled selected>{{$t('genres')}}</option>
        <option v-for="gener in genres" :value="gener.genre_id">{{gener.name}}</option>
      </select>
    </div>
    <div class="form-group w-100 filters-select mr-3">
      <select class="form-control custom-select" v-model="byYear" @change="filterMovies">
        <option :value="null" disabled selected>{{$t('year')}}</option>
        <option v-for="year in years" :value="year.value">{{year.text}}</option>
      </select>
    </div>
    <div>
      <button :disabled="byGener || byYear ? false : 'disabled'" @click="resetFilter"
              name="reset" class="btn btn-if my-2 my-sm-0 p-2 font-weight-bold font-13">{{$t('Reset')}}</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: "filters",
    data () {
      return {
        byGener: null,
        byYear: null,
      }
    },
    methods: {
      resetFilter() {
        this.byGener = null
        this.byYear = null
        this.filterMovies()
      },
      filterMovies() {
       this.$root.$emit('filter-movies', {
         genre: this.byGener,
         year: this.byYear,
       })
      }
    },
    computed: {
      years() {
        let currentYear = new Date().getFullYear(), years = [];
        let startYear = 1950
        while ( startYear <= currentYear ) {
          let year = startYear++
          years.push({
            value: year,
            text: year
          });
        }
        return years.reverse();
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media (min-width: 992px) {
    .filters-select {
      max-width: 200px;
    }
  }
</style>
