<template>
  <footer class="footer-bg mt-5 p-3"
          :style="populars[0] ? 'background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(' + backdrop + ')' : false">
    <iframe class="w-50 shadow-5 trailer-frame" :src="'https://www.youtube.com/embed/' + trailer.key"
            frameborder="0"></iframe>
    <div class="bottom-content">
      <p>Copyright © 2019 iFilm.com. All Rights Reserved.</p>
    </div>
  </footer>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "footer-content",
    data() {
      return {
        toggle: true
      }
    },
    computed: {
      ...mapGetters({
        populars: 'popular/get',
        trailer: 'popular/getTrailer'
      }),
      backdrop() {
        return 'https://image.tmdb.org/t/p/original' + this.populars[0].backdrop_path
      }
    },
    watch: {
      populars() {
        if(this.toggle) {
          this.$store.dispatch('popular/getPopularTrailer', this.populars[0].id)
          this.toggle = false
        }
      }
    },
    created() {
      this.$root.$on('changeLang', data => {
        this.$store.dispatch('popular/getPopularTrailer', this.populars[0].id)
      })
    }
  }
</script>

<style lang="scss" scoped>
  .footer-bg {
    min-height: 650px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .trailer-frame {
      height: 400px;
    }
    @media (max-width: 768px) {
      .trailer-frame{
        width: 100% !important;
        height: 200px;
      }
    }
    .bottom-content {
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 15px;
      p {
        margin: 0;
        text-align: center;
        color: white;
      }
    }
  }


</style>
