<template>
    <header class="container">
      <b-navbar toggleable="lg" class="p-3 shadow-none">
        <b-navbar-brand>
          <nuxt-link to="/">
            <img :src="`/images/${themeMode ? 'ifilm-dark-mode.png' : 'ifilm.png'}`" width="120" alt="logo">
          </nuxt-link>
        </b-navbar-brand>
        <select class="form-control border-0 p-0 shadow-none w-auto bg-transparent" @change="changeLocaleLanguage()" v-model="locale">
          <option value="en">EN</option>
          <option value="ru">RU</option>
        </select>
        <b-navbar-toggle target="nav-collapse" class="p-0 border-0">
          <div class="hamburger" id="hamburger-btn">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-nav-form class="ml-sm-3 pt-4 pt-lg-0 flex-nowrap justify-content-end">
            <b-form-input v-model="searchParam" size="sm" class="mr-lg-2 radius-5 p-3 shadow-none bg-transparent" placeholder="Search"></b-form-input>
            <nuxt-link class="text-decoration-none ml-1" :to="{name: 'search', query: { keyword:searchParam } }" :event="!searchParam ? 'disabled' : 'click'">
              <button name="search" size="sm" class="btn btn-if my-2 my-sm-0 p-1 font-weight-bold font-13">{{$t('search')}}</button>
            </nuxt-link>
          </b-nav-form>
          <b-navbar-nav class="ml-auto text-right mt-2 mt-lg-0">
           <!-- <nuxt-link class="nav-link pl-0 pl-lg-3 pr-3" :to="{name: 'search', query: { keyword: 'newest_movies' } }">
              {{$t("newest")}}
            </nuxt-link>-->
            <nuxt-link class="nav-link pl-0 pl-lg-3 pr-0 pr-lg-3" :to="{name: 'movie', query: { id: randomId } }">
             {{$t("random")}}
            </nuxt-link>
            <a class="nav-link pl-0 pl-lg-3 pr-0 pr-lg-3 custom-control custom-switch ml-4">
              <input @change="changeThemeMode()" c v-model="toggleMode" type="checkbox" class="custom-control-input" id="themeMode">
              <label class="custom-control-label" for="themeMode">{{$t('dark_mode')}}</label>
            </a>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "header-navbar",
    data() {
      return {
        searchParam: '',
        locale: this.$i18n.locale,
        toggleMode: JSON.parse(localStorage.getItem('darkMode'))
      }
    },
    head () {
      return {
        bodyAttrs: {
          'data-theme': this.themeMode ? 'dark' : false,
        }
      }
    },
    methods: {
      changeThemeMode() {
        this.$store.commit('theme-mode/updateThemeMode', this.toggleMode)
      },
      changeLocaleLanguage() {
        localStorage.setItem('localLang', this.locale)
        this.$i18n.locale = this.locale
        this.$root.$emit('changeLang', true)
      }
    },
    computed: {
      ...mapGetters({
        recommendations: 'recommendation/get',
        themeMode: 'theme-mode/get'
      }),
      randomId() {
        return this.recommendations.length ? this.recommendations[Math.floor(Math.random() * this.recommendations.length)].id : 15
      }
    },
  }
</script>

<style lang="scss" scoped>
  .hamburger{
    cursor: pointer;
    .line{
      width: 40px;
      height: 5px;
      background-color: #fe7900;
      display: block;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-radius: 5px
    }
  }
  .navbar-toggler[aria-expanded="true"]{
    #hamburger-btn{
      .line:nth-child(2){
        opacity: 0;
      }
      .line:nth-child(1){
        transform: translateY(7px) rotate(45deg);
      }
      .line:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
      }
    }
  }
</style>
