<template>
  <section class="bg-dark position-relative text-white top-banner">
    <transition enter-active-class="animated fadeIn">
      <client-only>
        <div slot="placeholder" class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center">
          <b-spinner label="Loading..."></b-spinner>
        </div>
        <carousel :perPageCustom="[[768, 5], [1024, 8]]"
                  :paginationEnabled="false" :navigationEnabled="true"
                  navigationPrevLabel="<i class='fa fa-chevron-left' aria-hidden='true'</i>"
                  navigationNextLabel="<i class='fa fa-chevron-right' aria-hidden='true'</i>">
          <slide v-for="popular in populars" :key="popular.id" class="p-3">
            <nuxt-link :to="{name: 'movie', query: { id:popular.id } }" class="d-block text-reset text-decoration-none">
              <div>
                <div class="position-relative text-white overflow-hidden shadow-3">
                  <img v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + popular.poster_path" class="img-responsive poster" alt="movie-poster">
                </div>
                <p class="text-center m-0 font-13 text-white mt-2 d-none d-sm-block">{{popular.title}}</p>
              </div>
            </nuxt-link>
          </slide>
        </carousel>
      </client-only>
    </transition>
  </section>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: "top-movies-banner",
    computed: {
      ...mapGetters({
        populars: 'popular/get',
      })
    },
    created() {
      this.$root.$on('changeLang', data => {
        this.$store.dispatch('popular/getPopular')
      })
    }
  }
</script>

<style lang="scss">
  .VueCarousel-navigation-next,.VueCarousel-navigation-prev{
    transform: translateY(-50%) !important;
    font-size: 40px;
    color: #fe7900 !important;
  }
  
  @media (min-width: 768px) {
    .top-banner {
      min-height: 300px;
    }
  }
</style>
