@import "../colors";

.pr-layer {
  background-color: $dark-transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 1;
}

.pr-widget{
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.03);
  }
}

.poster{
  transition: all 0.5s ease 0s;
  width: 100%;
  height: auto;
}

.circle-average{
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
