<template>
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
         <!-- <filters />-->
          <transition enter-active-class="animated fadeIn fast">
            <div v-if="movies.results" class="overflow-auto d-flex justify-content-center mt-4">
              <b-pagination
                class="pagination-if"
                v-model="currentPage"
                :total-rows="movies.total_results"
                :per-page="movies.results.length"
                aria-controls="my-table"
              ></b-pagination>
            </div>
          </transition>
          <transition-group enter-active-class="animated fadeIn fast" tag="div" class="row">
            <div v-for="movie in movies.results" class="col-6 col-lg-4 mt-2" :key="movie.id">
              <nuxt-link :to="{name: 'movie', query: { id:movie.id } }" class="d-block text-reset text-decoration-none movie-layer">
                <div>
                  <div class="position-relative text-white overflow-hidden">
                      <div class="pr-layer d-none d-md-block">
                        <h5 class="">{{movie.title}}</h5>
                        <ul class="p-0 list-style-none">
                          <li>
                            <span class="text-white-50 font-14">{{$t('year')}}:</span>
                            <span class="font-14">{{$moment(movie.release_date).format('Y')}}</span>
                          </li>
                          <li class="font-14">
                            <span class="text-white-50 font-14">{{$t('vote_count')}}:</span>
                            <span>{{movie.vote_count}}</span>
                          </li>
                          <li class="font-14">
                            <span class="text-white-50 font-14">{{$t('popularity')}}:</span>
                            <span>{{Math.floor(movie.popularity)}}</span>
                          </li>
                        </ul>
                        <div class="text-center mt-3 d-none d-md-block">
                          <span class="rounded-circle circle-average btn-if text-white font-weight-bold border border-white d-inline-flex">{{movie.vote_average}}</span>
                        </div>
                      </div>
                    <img v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path" class="img-responsive poster scale" alt="movie-poster">
                  </div>
                  <div class="text-center mt-2">
                    <client-only>
                      <star-rating
                        class="d-inline-block star-mobile"
                        :star-size="20"
                        :increment="0.5"
                        :rating="parseFloat(movie.vote_average)"
                        :read-only="true"
                        :max-rating="10"
                        text-class="d-none"
                        glow-color="#fe79000"
                        active-color="#fe7900"></star-rating>
                    </client-only>
                  </div>
                  <p class="text-center m-0 font-weight-bold movie-title">{{movie.title}}</p>
                </div>
              </nuxt-link>
            </div>
          </transition-group>
          <transition enter-active-class="animated fadeIn fast">
            <div v-if="movies.results" class="overflow-auto d-flex justify-content-center mt-4 mb-5 mb-md-0">
              <b-pagination
                class="pagination-if"
                v-model="currentPage"
                :total-rows="movies.total_results"
                :per-page="movies.results.length"
                aria-controls="my-table"
              ></b-pagination>
            </div>
          </transition>
        </div>
        <div class="col-12 col-md-4">
          <recommendations/>
          <nowPlaying />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapGetters } from 'vuex'
  import filters from '../components/filters'
  import recommendations from '../components/widget/recommendation'
  import nowPlaying from '../components/widget/now-playing'

  export default {
    async fetch({route, store, params}) {
      await store.dispatch('movie/getMoviesPagination', {page: 1})
      await store.dispatch('recommendation/getRecommendation', Math.floor(Math.random() * Math.floor(346 - 0 + 1)) + 0)
      await store.dispatch('now-playing/getNowPlaying')
      await store.dispatch('popular/getPopular')
    },
    components: {
      filters,
      recommendations,
      nowPlaying
    },
    data () {
      return {
        currentPage: 1,
        keyword: '',
        genre: null,
        year: null,
      }
    },
    computed:{
      ...mapGetters({
        movies: 'movie/get',
      }),
    },
    watch: {
      currentPage(val) {
        this.getMovies(val)
      }
    },
    methods: {
      getMovies(page) {
        let params = {
          page: page,
        }
        this.$store.dispatch('movie/getMoviesPagination', params)
      },
    },
    created() {
      this.$root.$on('filter-movies', data => {
        this.genre = data.genre
        this.year = data.year
        this.currentPage = 1
        this.getMovies(this.currentPage)
      })

      this.$root.$on('changeLang', data => {
        this.getMovies(this.currentPage)
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/scss/products/product";
  .movie-layer{
    .movie-title {
      height: 60px;
    }
    .pr-layer{
      transition: all 0.3s ease;
      opacity: 0;
    }
    &:hover {
      .pr-layer {
        opacity: 1;
      }
      .scale {
        transform: scale(1.5);
      }
    }
  }
</style>


