<template>
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-8 col-md-4">
              <img v-if="movie.poster_path" class="img-responsive"
                   v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path" alt="poster">
            </div>
            <div class="col-12 col-md-8">
              <b-list-group class="font-14">
                <b-list-group-item class="pr-layer-widget">
                  <span>{{$t('name')}}:</span>
                  <strong>{{movie.title}}</strong>
                </b-list-group-item>
                <b-list-group-item class="bg-transparent">
                  <span>{{$t('origonal_title')}}:</span>
                  <strong>{{movie.original_title}}</strong>
                </b-list-group-item>
                <b-list-group-item class="pr-layer-widget">
                  <span>{{$t('year')}}:</span>
                  <strong>{{$moment(movie.release_date).format('Y')}}</strong>
                </b-list-group-item>
                <b-list-group-item class="bg-transparent">
                  <span>{{$t('genre')}}:</span>
                  <strong v-for="genre in movie.genres">
                    {{genre.name}},
                  </strong>
                </b-list-group-item>
                <b-list-group-item class="pr-layer-widget">
                  <span>{{$t('duration')}}:</span>
                  <strong>{{movie.runtime}}{{$t('minute_short')}}</strong>
                </b-list-group-item>
                <b-list-group-item class="bg-transparent">
                  <span>{{$t('genre')}}:</span>
                  <strong v-for="country in movie.production_countries">
                    {{country.name}},
                  </strong>
                </b-list-group-item>
                <b-list-group-item class="pr-layer-widget">
                  <span>{{$t('budget')}}:</span>
                  <strong>{{movie.budget}}$</strong>
                </b-list-group-item>
              </b-list-group>
            </div>
            <div v-if="movie.overview" class="col-12 mt-4">
              <div class="pr-layer-widget p-3">
                <h5>{{$t('about_movie')}}</h5>
                <p>{{movie.overview}}</p>
              </div>
            </div>
            <div class="col-12 col-md-8 mt-2">
              <client-only>
                <star-rating
                  v-if="movie.vote_average"
                  class="d-none d-sm-inline-block"
                  :star-size="45"
                  :increment="0.5"
                  :rating="parseFloat(movie.vote_average)"
                  :read-only="true"
                  :max-rating="10"
                  text-class="d-none"
                  glow-color="#fe79000"
                  active-color="#fe7900"></star-rating>
              </client-only>
            </div>
            <div class="col-12 col-md-4 mt-2">
              <p class="m-0 font-20 text-right">{{$t('movie_vote')}}: <strong>{{movie.vote_average}}</strong></p>
              <p class="m-0 text-right">{{$t('vote_count')}}: <strong>{{movie.vote_count}}</strong></p>
            </div>
            <div class="col-12 mt-2 overflow-hidden" style="min-height: 370px;">
              <div class="player-box" v-if="toggle">
                <div id="yohoho" :data-title="movie.title + ' (' + $moment(movie.release_date).format('Y') + ')'" class="w-100"></div>
              </div>
            </div>
            <div class="col-12 mt-3 text-center">
              <similarMovies />
            </div>
           <!-- <div class="col-12 mt-3">
              <h5 class="text-left pt-3 pl-3 pr-3">Reviews</h5>
              <b-list-group class="font-14">
                <b-list-group-item v-for="(review, key) in reviews" class="bg-light" :key="key">
                  <strong>{{review.author}}:</strong>
                  <span>{{review.content}}</span>
                </b-list-group-item>
              </b-list-group>
            </div>-->
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0">
          <recommendations/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex'
  import recommendations from '../components/widget/recommendation'
  import similarMovies from '../components/widget/similar-movies'

  export default {
    name: "movie",
    async fetch({route, store, params}) {
      await store.dispatch('movie/getMovie', route.query.id)
      await store.dispatch('movie/getSimilarMovies', route.query.id)
      await store.dispatch('movie/getReviews', route.query.id)
      await store.dispatch('recommendation/getRecommendation', Math.floor(Math.random() * Math.floor(346 - 0 + 1)) + 0)
      await store.dispatch('popular/getPopular')
    },
    data() {
      return {
        id: this.$route.query.id,
        toggle: true,
      }
    },
    components: {
      recommendations,
      similarMovies,
    },
    computed: {
      ...mapGetters({
        movie: 'movie/getMovie',
        reviews: 'movie/getReviews',
      })
    },
    watch: {
      id(val) {
        if (this.movie.id) {
          this.getMovie(val)
        }
      }
    },
    watchQuery(newQuery, oldQuery) {
      if (oldQuery.id != newQuery.id) {
        this.id = newQuery.id
      }
    },
    methods: {
      getMovie(id) {
        this.toggle = false
        this.$store.dispatch('movie/getMovie', id)
        this.$store.dispatch('movie/getSimilarMovies', this.id)
        this.$store.dispatch('movie/getReviews', this.id)
        setTimeout(() => {
          this.toggle = true
        }, 500)

        setTimeout(() => {
          yo()
        }, 1000)
      },
    },
    mounted() {
        yo()
    },
    created() {
      this.$root.$on('changeLang', data => {
        this.getMovie(this.id)
      })
    }
  }
</script>

<style lang="scss" scoped>
  .player-box {
    &:after {
      content: 'Movie not found ☹';
      font-size: 25px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
</style>
