<template>
  <section>
    <div v-if="movies.results.length" class="container">
        <transition-group enter-active-class="animated fadeIn fast" tag="div" class="row">
          <div class="col-12 col-md-6" v-for="movie in movies.results" :key="movie.id">
            <div class="mt-4">
              <nuxt-link :to="{name: 'movie', query: { id:movie.id } }" class="d-block text-reset text-decoration-none">
                <div class="d-flex pr-widget">
                  <div class="w-25">
                    <img v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path" class="img-fluid" alt="movie-poster">
                  </div>
                  <div class="pr-layer-widget p-2 w-75 d-flex justify-content-between">
                    <div class="d-grid">
                      <div class="line-height-13">
                        <p class="font-weight-bold mb-1">{{movie.title}}</p>
                        <small v-if="movie.overview" class="font-12">{{movie.overview.substring(0,380)+".."}}</small>
                        <template v-else>
                          <p class="font-14 mb-2 mt-4">
                            <b class="font-14">{{$t('vote_count')}}:</b>
                            <span>{{movie.vote_count}}</span>
                          </p>
                          <p class="font-14 mb-2">
                            <b class="font-14">{{$t('popularity')}}:</b>
                            <span>{{Math.floor(movie.popularity)}}</span>
                          </p>
                        </template>
                      </div>

                      <div class="d-none d-sm-block align-self-end">
                        <client-only>
                          <star-rating
                            class="d-inline-block"
                            :star-size="20"
                            :increment="0.5"
                            :rating="parseFloat(movie.vote_average)"
                            :read-only="true"
                            :max-rating="10"
                            text-class="d-none"
                            glow-color="#fe79000"
                            active-color="#fe7900"></star-rating>
                        </client-only>
                        <p class="m-0">{{$t('vote_count')}}: <strong>{{movie.vote_count}}</strong></p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end">
                      <span class="rounded-circle circle-average btn-if text-white font-weight-bold">{{movie.vote_average}}</span>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
        </transition-group>
        <div class="overflow-auto d-flex justify-content-center mt-4">
          <b-pagination
            class="pagination-if"
            v-model="currentPage"
            :total-rows="movies.total_results"
            :per-page="movies.results.length"
            aria-controls="my-table"
          ></b-pagination>
        </div>
    </div>
    <div v-else class="container mt-5">
      <b-alert show variant="danger">
        <h4 class="text-center">{{$t('movie_name_not_foun')}}</h4>
      </b-alert>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "search",
    data() {
      return {
        currentPage: 1,
        keyword: this.$route.query.keyword,
      }
    },
    async fetch({route, store, params}) {
      let par = {
        page: 1,
        keyword: route.query.keyword
      }
      await store.dispatch('movie/getSearchedMovies', par)
      await store.dispatch('popular/getPopular')
    },
    watch: {
      currentPage(val) {
        this.getMovies(val)
      }
    },
    watchQuery (newQuery, oldQuery) {
      if (newQuery != oldQuery) {
        this.keyword = newQuery.keyword
        this.getMovies()
      }
    },
    computed:{
      ...mapGetters({
        movies: 'movie/getFindedMovies',
      }),
    },
    methods: {
      getMovies(page) {
        let params = {
          page: page,
          keyword: this.keyword
        }
        this.$store.dispatch('movie/getSearchedMovies', params)
      }
    },
    created() {
      this.$root.$on('changeLang', data => {
        this.getMovies(this.currentPage)
      })
    }
  }
</script>

<style lang="scss" scoped>
  @import "../assets/scss/products/product";
</style>
